<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Timothy Berners-Leee</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
      </ul>
    </nav>
    <div class="heroe">
      <h1>Timothy Berners-Lee</h1>
      <img src="/img/berners-lee.jpeg" alt="Berners-Lee" />
    </div>
    <p>
      Timothy "Tim" John Berners-Lee, es un científico de la computación
      británico, conocido por ser el padre de la World Wide Web. Estableció la
      primera comunicación entre un cliente y un servidor usando el protocolo
      HTTP en diciembre de 1990.
    </p>
  </body>
</html>
