<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Clarke</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
      </ul>
    </nav>
    <div class="heroe">
      <h1>Edmund Clarke</h1>
      <img src="/img/clarke.jpeg" alt="Clarke" />
    </div>
    <p>
      Edmund Melson Clarke, Jr. fue un informático teórico, profesor
      universitario, investigador, ingeniero y matemático estadounidense.
    </p>
    <p>
      Principalmente reconocido por haber desarrollado el método conocido como
      "model checking", para verificar diseños de software o hardware.
    </p>

    <p>
      Clarke fue el Profesor FORE Systems de Ciencias de la Computación en la
      Universidad Carnegie Mellon. Junto con E. Allen Emerson y Joseph Sifakis,
      fue el ganador de 2007 del Premio Turing de la Association for Computing
      Machinery.
    </p>

    <p>
      Falleció el 22 de diciembre de 2020 a los 75 años a causa de COVID-19.
    </p>
  </body>
</html>
